# Types of principle



1)class

2)object

3)data encapsulation

4)data abstraction

5)inheritence

6)polymorphysm

7)massage passing

# class

In [5]:
#syntax for class
#def name of class(self,list of formal parameter if any)
class studentex:pass #class is programmer define datatype
                                                         #(without class level data member)


#main program
s1=studentex()
#place the data for s1
s1.stno=20
s1.name="rohan"
s1.marks=22.22
s1.addr="nagpur"
#create another object
s2=studentex()
#place the data for s2
s2.stno=30
s2.name="goldberg"
s2.marks=33.22
s2.addr="newyork"
print("-"*30)
print("first student data")
print("-"*30)
print("id of student1={}".format(id(s1)))
print("student number={}".format(s1.stno))
print("student name={}".format(s1.name))
print("student marks={}".format(s1.marks))
print("student addr={}".format(s1.addr))
print("-"*30)
print("second student data")
print("id of stuudent2={}".format(id(s2)))
print("-"*30)
print("student number={}".format(s2.stno))
print("student name={}".format(s2.name))
print("student marks={}".format(s2.marks))
print("student addr={}".format(s2.addr))

------------------------------
first student data
------------------------------
id of student1=1844625149616
student number=20
student name=rohan
student marks=22.22
student addr=nagpur
------------------------------
second student data
id of stuudent2=1844631887392
------------------------------
student number=30
student name=goldberg
student marks=33.22
student addr=newyork

In [20]:
#syntax for class
#def name of class(self,list of formal parameter if any)
class studentex: #class is programmer define datatype  #("delete pass")
    csr="PYTHON"                                                          #(with class level data member)


#main program
s1=studentex()
#place the data for s1
s1.stno=20
s1.name="rohan"
s1.marks=22.22
s1.addr="nagpur"
#create another object
s2=studentex()
#place the data for s2
s2.stno=30
s2.name="goldberg"
s2.marks=33.22
s2.addr="newyork"
print("-"*30)
print("first student data")
print("-"*30)
print("id of student1={}".format(id(s1)))
print("student number={}".format(s1.stno))
print("student name={}".format(s1.name))
print("student marks={}".format(s1.marks))
print("student addr={}".format(s1.addr))
print("first student course={}".format(studentex.csr)) #automatically value added just lie defalt parameter
print("-"*30)
print("second student data")
print("id of stuudent2={}".format(id(s2)))
print("-"*30)
print("student number={}".format(s2.stno))
print("student name={}".format(s2.name))
print("student marks={}".format(s2.marks))
print("student addr={}".format(s2.addr))
print("second student course={}".format(studentex.csr))  #use class name thats why called class level data type

------------------------------
first student data
------------------------------
id of student1=1844625281232
student number=20
student name=rohan
student marks=22.22
student addr=nagpur
first student course=PYTHON
------------------------------
second student data
id of stuudent2=1844625282432
------------------------------
student number=30
student name=goldberg
student marks=33.22
student addr=newyork
second student course=PYTHON

In [22]:
#syntax for class  
#same program using objectname
#def name of class(self,list of formal parameter if any)
class studentex: #class is programmer define datatype  #("delete pass")
    csr="PYTHON PROG"                                                          #(with class level data member)


#main program
s1=studentex()
#place the data for s1
s1.stno=20
s1.name="rohan"
s1.marks=22.22
s1.addr="nagpur"
#create another object
s2=studentex()
#place the data for s2
s2.stno=30
s2.name="goldberg"
s2.marks=33.22
s2.addr="newyork"
print("-"*30)
print("first student data")
print("-"*30)
print("id of student1={}".format(id(s1)))
print("student number={}".format(s1.stno))
print("student name={}".format(s1.name))
print("student marks={}".format(s1.marks))
print("student addr={}".format(s1.addr))
print("first student course={}".format(s1.csr)) #automatically value added just lie defalt parameter (object name)
print("-"*30)
print("second student data")
print("id of stuudent2={}".format(id(s2)))
print("-"*30)
print("student number={}".format(s2.stno))
print("student name={}".format(s2.name))
print("student marks={}".format(s2.marks))
print("student addr={}".format(s2.addr))
print("second student course={}".format(s2.csr))  #use object name thats why called object class level data type

------------------------------
first student data
------------------------------
id of student1=1844631536736
student number=20
student name=rohan
student marks=22.22
student addr=nagpur
first student course=PYTHON PROG
------------------------------
second student data
id of stuudent2=1844631536976
------------------------------
student number=30
student name=goldberg
student marks=33.22
student addr=newyork
second student course=PYTHON PROG

# same program using user input

In [23]:
#syntax for class
#def name of class(self,list of formal parameter if any)
class studentex: #class is programmer define datatype  #("delete pass")
    csr="PYTHON PROG"                              #dynamic type           #(with class level data member)


#main program
s1=studentex()
#place the data for s1
s1.stno=int(input("enter student number"))
s1.name=input("enter student name")
s1.marks=float(input("enter student marks"))
s1.addr=input("enter student address")
#create another object
s2=studentex()
#place the data for s2
s2.stno=int(input("enter student number"))
s2.name=input("enter student name")
s2.marks=float(input("enter student marks"))
s2.addr=input("enter student address")
print("-"*30)
print("first student data")
print("-"*30)
print("id of student1={}".format(id(s1)))
print("student number={}".format(s1.stno))
print("student name={}".format(s1.name))
print("student marks={}".format(s1.marks))
print("student addr={}".format(s1.addr))
print("first student course={}".format(s1.csr)) #automatically value added just lie defalt parameter (object name)
print("-"*30)
print("second student data")
print("id of stuudent2={}".format(id(s2)))
print("-"*30)
print("student number={}".format(s2.stno))
print("student name={}".format(s2.name))
print("student marks={}".format(s2.marks))
print("student addr={}".format(s2.addr))
print("second student course={}".format(s2.csr))  #use object name thats why called object class level data type

enter student number10
enter student namemmmm
enter student marks45.45
enter student addressfgfg
enter student number100
enter student namefgfg
enter student marks44.44
enter student addresssdsd
------------------------------
first student data
------------------------------
id of student1=1844627783152
student number=10
student name=mmmm
student marks=45.45
student addr=fgfg
first student course=PYTHON PROG
------------------------------
second student data
id of stuudent2=1844627782432
------------------------------
student number=100
student name=fgfg
student marks=44.44
student addr=sdsd
second student course=PYTHON PROG