# Data structure

1)series 
2)DataFrame

In [ ]:
#it is an one dimensional labbeled array capable of storing/holding any type of data(int,str,float,...etc)
#pandas series is nothing but column values in excel sheet.
#pandas series values are mutable.
#pandas series contain homogeneos data(different type values are treated as object type)

creating a series

In [ ]:
#syntax:- varname=pandas.series(object,index,dtype)
#object(it can be list, array,dict,...etc)
#index(it represent position of values present in series object)
#dtype(it represent data type present in pandas)  ex:-int32,float32,float6...etc

In [7]:
import pandas as pd 
import numpy as np
lst=[10,20,30,40,50,60]
s=pd.Series(lst)
print(s)
print("series created")

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
series created

In [8]:
import pandas as pd 
import numpy as np
lst=[10,20,30,40,50,60]
s=pd.Series(lst,dtype=float)
print(s)
print("series created")

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
dtype: float64
series created

In [13]:
lst=["rohan","shashank","pratik","array"]
a=np.array(lst)
print(a)

print(a,type(a))

s=pd.Series(a)
print(s)

['rohan' 'shashank' 'pratik' 'array']
['rohan' 'shashank' 'pratik' 'array'] <class 'numpy.ndarray'>
0       rohan
1    shashank
2      pratik
3       array
dtype: object

In [16]:
lst=[10,"rohan",10.01,"kp"]
a=pd.Series(lst)
print(a)

0       10
1    rohan
2    10.01
3       kp
dtype: object

# how to create my own index

In [35]:
#using index syntax  


lst=[10,"rohan",10.01,"kp"]
a=pd.Series(lst)
print(a)
print()
print("my indexing:")

s=pd.Series(lst,index=[1,2,3,4])
print(s,type(s))

0       10
1    rohan
2    10.01
3       kp
dtype: object

my indexing:
1       10
2    rohan
3    10.01
4       kp
dtype: object <class 'pandas.core.series.Series'>

#indexing

In [32]:
a[1]

'rohan'

In [33]:
s[3]

10.01

#slicing

In [30]:
s[1:3]

2    rohan
3    10.01
dtype: object

In [34]:
a[0:2]

0       10
1    rohan
dtype: object

#creating a series object from dict

In [40]:
#keys taken as indexes
#values taken as data

import pandas as pd
a={"sub1":"java","sub2":"python","sub3":"ML","sub4":"tableue"}
print(a)
 
s=pd.Series(a)
print(s)

{'sub1': 'java', 'sub2': 'python', 'sub3': 'ML', 'sub4': 'tableue'}
sub1       java
sub2     python
sub3         ML
sub4    tableue
dtype: object

In [50]:
s[0]

'java'

In [51]:
s[1]

'python'

In [53]:
s["sub1"]

'java'

#reverse the data

In [55]:
s[::-1]

sub4    tableue
sub3         ML
sub2     python
sub1       java
dtype: object

# create Dataframe uusing tuple

In [3]:
import pandas as pd

ptl=(("rosssum",75),("goldberg",50),("sachin",80),("shashank",44),("john cena",1))
df=pd.DataFrame(ptl,index=[1,2,3,4,5],columns=['name','age'])
print(df)

        name  age
1    rosssum   75
2   goldberg   50
3     sachin   80
4   shashank   44
5  john cena    1

In [5]:
import pandas as pd

ptl=(("rosssum",75),("goldberg",50),("sachin",80),("shashank",44),("john cena",1))
df=pd.DataFrame(ptl,index=['a','b','c','d','e'],columns=[1,2])
print(df)

           1   2
a    rosssum  75
b   goldberg  50
c     sachin  80
d   shashank  44
e  john cena   1

# creating DataFrame using DICT

In [6]:
import pandas as pd 
dic={"Names":["rr","ss","dd","aa"],"subjects":["java","python","ml","Ai"],"ages":[10,20,30,40]}
df=pd.DataFrame(dic)
print(df)

  Names subjects  ages
0    rr     java    10
1    ss   python    20
2    dd       ml    30
3    aa       Ai    40

In [12]:
import pandas as pd 
dic={"Names":["rr","ss","dd","aa"],"subjects":["java","python","ml","Ai"],"ages":[10,20,30,40]}
df=pd.DataFrame(dic,index=['a','b','c','d'],columns=[1,2,3])  #columns function not wroks on dict
print(df)

     1    2    3
a  NaN  NaN  NaN
b  NaN  NaN  NaN
c  NaN  NaN  NaN
d  NaN  NaN  NaN

retriving the data

In [14]:
import pandas as pd 
dic={"Names":["rr","ss","dd","aa"],"subjects":["java","python","ml","Ai"],"ages":[10,20,30,40]}
df=pd.DataFrame(dic)
print(df)

  Names subjects  ages
0    rr     java    10
1    ss   python    20
2    dd       ml    30
3    aa       Ai    40

In [19]:
print(df["Names"],["ages"])

0    rr
1    ss
2    dd
3    aa
Name: Names, dtype: object ['ages']

In [18]:
print(df["ages"])

0    10
1    20
2    30
3    40
Name: ages, dtype: int64

directly row data cant be retrive

In [20]:
print(df[1])

KeyError: 1

# creating an object by using series

In [24]:
import pandas as pd 

sdata=pd.Series([10,20,30])
df=pd.DataFrame(sdata)
print(df)

    0
0  10
1  20
2  30

In [26]:
dic=pd.Series({"Names":["rr","ss","dd","aa"],"subjects":["java","python","ml","Ai"],"ages":[10,20,30,40]})
print(dic)

Names             [rr, ss, dd, aa]
subjects    [java, python, ml, Ai]
ages              [10, 20, 30, 40]
dtype: object